.text--base-two {
    color: var(--base-two) !important;
}

.text--white {
    color: var(--white) !important;
}

.text--white7 {
    color: var(--white-l-700) !important;
}

.text--primary {
    color: var(--primary) !important;
}

.text--secondary {
    color: var(--secondary) !important;
}

.text--success {
    color: var(--success) !important;
}

.text--danger {
    color: var(--danger) !important;
}

.text--warning {
    color: var(--warning) !important;
}

.text--info {
    color: var(--info) !important;
}

.text--violet {
    color: var(--violet) !important;
}

.text--body {
    color: var(--body-bg-one);
}


.text--black {
    color: var(--black) !important;
}


.text--black7 {
    color: var(--black-l-700) !important;
}