<section class="contact--section py-120 position-relative">
    <div class="container-fluid">


        <div class="element-one position-absolute">
            <div class="thumb--one move--img" data-value="-10">
                <img src="assets/images/contact/c1.png" alt="...">
            </div>
            <div class="thumb--two position-absolute move--img" data-value="2">
                <img src="assets/images/contact/c1b.png" alt="...">
            </div>
        </div>
        <div class="element-two position-absolute">
            <div class="thumb--one  move--img" data-value="-6">
                <img src="assets/images/contact/c2.png" alt="...">
            </div>
            <div class="thumb--two position-absolute  move--img" data-value="2">
                <img src="assets/images/contact/c2b.png" alt="...">
            </div>
        </div>
        <div class="element-three position-absolute">
            <div class="thumb--one  move--img" data-value="10">
                <img src="assets/images/contact/c3.png" alt="...">
            </div>
            <div class="thumb--two position-absolute  move--img" data-value="2">
                <img src="assets/images/contact/c3b.png" alt="...">
            </div>
        </div>
        <div class="element-four position-absolute">
            <div class="thumb--one  move--img" data-value="15">
                <img src="assets/images/contact/c4.png" alt="...">
            </div>
            <div class="thumb--two position-absolute  move--img" data-value="2">
                <img src="assets/images/contact/c4b.png" alt="...">
            </div>
        </div>
        <div class="element-five position-absolute zm--2">
            <div class="thumb--one">
                <img src="assets/images/contact/c9.png" alt="...">
            </div>
        </div>



        <div class="heading--wrap position-relative d-flex justify-content-center">
            <p class="heading text-uppercase text-white">Start Your Project With Us</p>
            <span class="bar--primary bg--primary"></span>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="content--wrap d-flex flex-column justify-content-center align-items-center">
                    <div class="title--wrap text--perspective">
                        <h2 class="title text-uppercase text-center mb-0">Let’s Build Something</h2>
                        <h2 class="title text-uppercase text-center mb-0">Together</h2>
                    </div>
                    <div class="contact--info d-flex flex-wrap justify-content-center align-items-center gap--40">
                        <a href="mailto:hello@webixgmail.com" class="fs--20 fw--600 text-uppercase">[
                            hello@webixgmail.com ]</a>
                        <a href="tell:+1245678900" class="fs--20 fw--600 text-uppercase">[ +12 4567 8900 ]</a>
                    </div>

                    <a href="#" class="btn btn--primary d-inline-flex align-items-center">
                        <span class="text">Contact Us</span>
                        <span class="circle radius--50 bg--white d-flex justify-content-center align-items-center">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.41421 1C1.41421 0.447715 1.86193 0 2.41421 0H8.07107C8.62335 0 9.07107 0.447715 9.07107 1V6.65685C9.07107 7.20914 8.62335 7.65685 8.07107 7.65685C7.51878 7.65685 7.07107 7.20914 7.07107 6.65685V3.41421L1.70711 8.77817C1.31658 9.1687 0.683417 9.1687 0.292893 8.77817C-0.0976311 8.38765 -0.0976311 7.75449 0.292893 7.36396L5.65685 2H2.41421C1.86193 2 1.41421 1.55228 1.41421 1Z"
                                    fill="#121212" />
                            </svg>
                        </span>
                    </a>

                </div>

            </div>
        </div>
    </div>
</section>