<section class="project--section pt-120">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-lg-6 col-md-7">
                <div
                    class="section-content--wrap one d-flex flex-column justify-content-lg-start justify-content-center align-items-lg-start align-items-center">
                    <h2 class="section--title text--animate">FEATURED WORKS</h2>
                    <div class="heading--wrap d-flex align-items-center gap--8">
                        <span class="bar"></span>
                        <span class="dot radius--50"></span>
                        <p class="heading fs--18">Horizon Redesign</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="work--card position-relative">

            <div class="thumb--wrap d-flex align-items-end gap--32">
                <div class="thumb one parallax--img radius--16 overflow-hidden">
                    <img class="zoom--item" src="assets/images/work/w2.png" alt="...">
                </div>
                <div class="thumb two radius--16 overflow-hidden">
                    <img class="zoom--item" src="assets/images/work/w1.png" alt="...">
                </div>
                <div class="thumb three parallax--img radius--16 overflow-hidden">
                    <img class="zoom--item" src="assets/images/work/w3.png" alt="...">
                </div>
            </div>

            <div class="thumb-wrap--in__mobile d-none">
                <div class="row gy-4">
                    <div class="col-md-7 col-sm-6">
                        <div class="thumb two radius--16 overflow-hidden">
                            <img class="fit--img" src="assets/images/work/w1.png" alt="...">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="row gy-4">
                            <div class="col-lg-12">
                                <div class="thumb one parallax--img radius--16 overflow-hidden">
                                    <img class="fit--img" src="assets/images/work/w2.png" alt="...">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="thumb three parallax--img radius--16 overflow-hidden">
                                    <img class="fit--img" src="assets/images/work/w3.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content--wrap d-flex flex-wrap justify-content-between align-items-end position-absolute gap--4">
                <div class="title--wrap d-flex flex-column gap--12">
                    <h6 class="number m-0 d-block d-sm-none">02<span>/05</span></h6>
                    <div class="heading--wrap d-flex align-items-center gap--8">
                        <span class="bar"></span>
                        <span class="dot radius--50"></span>
                        <p class="heading fs--18">Horizon Redesign</p>
                    </div>
                    <h6 class="title fs--36 fw--600 m-0"> <a href="#" class="heading-font">Website UI/UX Design</a>
                    </h6>
                </div>
                <div class="tag--wrap d-flex flex-column justify-content-sm-end align-items-sm-end gap--16">
                    <h6 class="number m-0 d-none d-sm-block">02<span>/05</span></h6>
                    <ul class="d-flex flex-wrap align-items-center gap--16">
                        <li class="tag"><a href="#" class="radius--32 fw--500">UI/UX Design</a></li>
                        <li class="tag"><a href="#" class="radius--32 fw--500">2020</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>