<section class="service--section section--bg py-100 service--listing">

    <div class="container-fluid">

        <div class="section-content--wrap two position-relative">
            <div class="heading--wrap position-relative d-flex justify-content-start">
                <p class="heading text-uppercase text-white">WHAT WE OFFER</p>
                <span class="bar--primary bg--primary"></span>
            </div>

            <div class="title--wrap d-flex flex-wrap gap--8 justify-content-between align-items-center">
                <h2 class="section--title split--text">Strong Brand Solution</h2>

                <a href="javascript:void(0)" class="btn btn--primary d-inline-flex align-items-center">
                    <span class="text">View All Services</span>
                    <span class="circle radius--50 bg--white d-flex justify-content-center align-items-center">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M1.41421 1C1.41421 0.447715 1.86193 0 2.41421 0H8.07107C8.62335 0 9.07107 0.447715 9.07107 1V6.65685C9.07107 7.20914 8.62335 7.65685 8.07107 7.65685C7.51878 7.65685 7.07107 7.20914 7.07107 6.65685V3.41421L1.70711 8.77817C1.31658 9.1687 0.683417 9.1687 0.292893 8.77817C-0.0976311 8.38765 -0.0976311 7.75449 0.292893 7.36396L5.65685 2H2.41421C1.86193 2 1.41421 1.55228 1.41421 1Z"
                                fill="#121212" />
                        </svg>
                    </span>
                </a>
            </div>

        </div>

        <div class="service--card">
            <div class="row gy-5 align-items-end">
                <div class="col-lg-8">
                    <div class="thumb--wrap d-flex align-items-end gap--48">
                        <div class="thumb radius--24 overflow-hidden flex-shrink-0 hover--img"
                            data-displacement="assets/images/imagehover/img5.png" data-intensity="0.2" data-speedin="1"
                            data-speedout="1">
                            <img class="fit--img" src="assets/images/service/service.png" alt="...">
                            <img class="fit--img" src="assets/images/service/service.png" alt="...">
                        </div>

                        <div>
                            <h6 class="number">04 <span>/01</span></h6>


                            <div class="right-content--wrap d-block d-lg-none mb-4">
                                <div class="content--wrap pb-120">
                                    <h6 class="title fs--64 fw--600 text-end">Brand Strategy & Positioning</h6>
                                    <p class="description text-end scroll--text">We create human-centered digital
                                        experiences
                                        that are
                                        beautiful, intuitive, and
                                        conversion-focused. Every interaction is designed to feel natural and
                                        purposeful.
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex flex-column gap--48">
                                <ul class="d-flex align-items-center flex-wrap gap--16 pop--wrapper">
                                    <li class="tag pop--item"> <a href="javascript:void(0)" class="radius--32 fw--500">Brand
                                            Strategy</a> </li>
                                    <li class="tag pop--item"> <a href="javascript:void(0)" class="radius--32 fw--500">Positioning</a>
                                    </li>
                                    <li class="tag pop--item"> <a href="javascript:void(0)" class="radius--32 fw--500">Logo</a> </li>
                                    <li class="tag pop--item"> <a href="javascript:void(0)" class="radius--32 fw--500">Visual
                                            Direction</a> </li>
                                    <li class="tag pop--item"> <a href="javascript:void(0)" class="radius--32 fw--500">Brand
                                            Guidelines</a> </li>
                                </ul>
                                <div class="btn--wrap">
                                    <a href="javascript:void(0)" class="btn btn--primary outline d-inline-flex align-items-center">
                                        <span class="text">View Services</span>
                                        <span
                                            class="circle radius--50 bg--primary d-flex justify-content-center align-items-center">
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M1.41421 1C1.41421 0.447715 1.86193 0 2.41421 0H8.07107C8.62335 0 9.07107 0.447715 9.07107 1V6.65685C9.07107 7.20914 8.62335 7.65685 8.07107 7.65685C7.51878 7.65685 7.07107 7.20914 7.07107 6.65685V3.41421L1.70711 8.77817C1.31658 9.1687 0.683417 9.1687 0.292893 8.77817C-0.0976311 8.38765 -0.0976311 7.75449 0.292893 7.36396L5.65685 2H2.41421C1.86193 2 1.41421 1.55228 1.41421 1Z"
                                                    fill="#121212" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="right-content--wrap">

                        <div class="content--wrap pb-120">
                            <h6 class="title fs--64 fw--600 text-end">Brand Strategy & Positioning</h6>
                            <p class="description text-end scroll--text">We create human-centered digital
                                experiences
                                that are
                                beautiful, intuitive, and
                                conversion-focused. Every interaction is designed to feel natural and purposeful.
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap--32">

                            <div class="thumb--sm">
                                <figure>
                                    <i class="work-lottie">
                                        <svg fill="none" xmlns="http://www.w3.org/2000/svg">

                                            <image class="fit--img" mask="url(#imgMask6)" width="100%" height="100%"
                                                href="assets/images/service/service2.png" data-svg-origin="435 0"
                                                transform="matrix(1,0,0,1,0,0)"
                                                style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px; filter: brightness(1);">
                                            </image>
                                        </svg>
                                    </i>
                                </figure>
                            </div>

                            <div class="thumb--sm">
                                <figure>
                                    <i class="work-lottie">
                                        <svg fill="none" xmlns="http://www.w3.org/2000/svg">

                                            <image class="fit--img" mask="url(#imgMask6)" width="100%" height="100%"
                                                href="assets/images/service/service3.png" data-svg-origin="435 0"
                                                transform="matrix(1,0,0,1,0,0)"
                                                style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px; filter: brightness(1);">
                                            </image>
                                        </svg>
                                    </i>
                                </figure>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>