</main>
</div>
</div>

<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- Gsap Js -->
<script src="assets/js/gsap.min.js"></script>

<!-- gsap-scroll Js -->
<script src="assets/js/gsap-scroll-trigger.js"></script>

<!-- ScrollSmoother Js -->
<script src="assets/js/ScrollSmoother.min.js"></script>

<!-- splitText Js -->
<script src="assets/js/splitText.min.js"></script>

<!-- three Js -->
<script src="assets/js/three.js"></script>

<!-- imagesloaded Js -->
<script src="assets/js/imagesloaded.pkgd.min.js"></script>

<!-- hover effect Js -->
<script src="assets/js/hover-effect.umd.js"></script>

<!-- main Js -->
<script src="assets/js/main.js"></script>

</body>

</html>